In [1]:
import os
import numpy as np
import scipy
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
import wandb
wandb.login()
pd.set_option('display.max_rows', 200)
plotting_context = "paper"
default_palette = "colorblind"
a_palette = sns.color_palette("YlOrRd", 2)
b_palette = sns.color_palette("icefire", 2)
c_palette = sns.color_palette("tab20", 2)
models_palette = sns.color_palette("Spectral",2)
font_scale = 1.4
sns.set(font_scale=font_scale, context=plotting_context)
sns.set(rc={"figure.dpi":300, 'savefig.dpi':300})

def get_env(var):
    val = os.getenv(var)
    if val == None:
        raise ValueError(f"Environment variable {var} is not set. Please follow the README.md instructions and start the notebook with all environment variables set.")
    else:
        print(f"{var}:{val}")
    return val

LOG_PATH=get_env("LOG_PATH")
NETWORK_PATH=get_env("NETWORK_LOG_PATH")
FIGURE_PATH=get_env("FIGURE_PATH")

def save_figure(name, local_fig_dir, file_type='pdf'):
    '''Save matplotlib figures at a local directory based on the full hardcoded path
    :param name: str - name of the pdf figure (e.g., "throughput")
    :param local_fig_dir: str - plots are saved under a subdirectory based on the pipeline (e.g., "image-pipeline")
    '''
    figure_path   = FIGURE_PATH
    full_fig_dir  = figure_path + "/" + local_fig_dir
    full_fig_path = full_fig_dir + "/" + name + "." + file_type
    dpi = 300
    plt.savefig(full_fig_path, dpi=dpi, bbox_inches = "tight")
    
def save_fig(name, file_type='pdf'):
    save_figure(name, local_fig_dir="misc", file_type=file_type)
    
def convert_to_gbits(df):
    df["bandwidth_gbits"] = np.where(df['bandwidth_metric']=='Gbits/sec', df["bandwidth"], df["bandwidth"] / 1000)
    return df

wandb: Currently logged in as: cirquit (kubework). Use `wandb login --relogin` to force relogin

LOG_PATH:../../artifacts/wandb
NETWORK_LOG_PATH:../../artifacts/networking/logs
FIGURE_PATH:../../paper/figures

In [2]:
exp_1_path = NETWORK_PATH + "/experiment-set-1"
us_path   = exp_1_path + "/1-5/iperf-profile-gc-t4-1-us.csv"
eu_path   = exp_1_path + "/1-5/iperf-profile-gc-t4-5-eu.csv"
asia_path = exp_1_path + "/1-5/iperf-profile-gc-t4-10-asia.csv"
aus_path  = exp_1_path + "/1-5/iperf-profile-gc-t4-20-australia.csv"

exp_2_path = NETWORK_PATH + "/experiment-set-2"
aws_gc_path = exp_2_path + "/aws-gc/iperf-profile-aws-t4-2.csv"
gc_aws_path = exp_2_path + "/aws-gc/iperf-profile-gc-t4-2.csv"
azure_gc_path = exp_2_path + "/azure-gc/iperf-profile-azure-t4-2.csv"
gc_azure_path = exp_2_path + "/azure-gc/iperf-profile-gc-t4-2.csv"

exp_3_path = NETWORK_PATH + "/experiment-set-3"
rtx8000_eu_gc_path = exp_3_path + "/3-P.0/iperf-profile-rtx8000.csv"
rtx8000_us_gc_path = exp_3_path + "/3-P.1/iperf-profile-rtx8000.csv"
rtx8000_us_lambda_path = exp_3_path + "/3-P.2/iperf-profile-rtx8000.csv"
v100_eu_gc_path = exp_3_path + "/3-R.0/iperf-profile-8xv100.csv"
v100_us_gc_path = exp_3_path + "/3-R.1/iperf-profile-8xv100.csv"
v100_us_lambda_path = exp_3_path + "/3-R.2/iperf-profile-8xv100.csv"

exp_4_path = NETWORK_PATH + "/experiment-set-4"
lambda_a10_path = exp_4_path + "/iperf-profile-lambda-a10.csv"

### 1.1 US <-> US

In [3]:
us_df = convert_to_gbits(pd.read_csv(us_path))
us_df.query("target_hostname == 'gc-t4-2'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean    6.904000     0.659400         6.904000
std     0.021909     0.032005         0.021909

### 1.2 US -> EU

In [4]:
#us_df
us_df.query("target_hostname == 'gc-t4-5' or target_hostname == 'gc-t4-6'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count       10.0    10.000000     1.000000e+01
mean       210.0   103.110200     2.100000e-01
std          0.0     0.053187     2.925695e-17

### 1.3 US -> ASIA

In [5]:
us_df.query("target_hostname == 'gc-t4-10' or target_hostname == 'gc-t4-11'").describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count   10.000000    10.000000        10.000000
mean   133.600000   157.089800         0.133600
std      1.897367     0.102631         0.001897

### 1.4 US -> AUS

In [6]:
us_df.query("target_hostname == 'gc-t4-20' or target_hostname == 'gc-t4-21'").describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count   10.000000    10.000000        10.000000
mean   117.000000   176.195900         0.117000
std      1.825742     0.319867         0.001826

### 2.1 EU -> US

In [7]:
eu_df = convert_to_gbits(pd.read_csv(eu_path))
eu_df.query("target_hostname == 'gc-t4-1' or target_hostname == 'gc-t4-2'").describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count   10.000000    10.000000        10.000000
mean   214.500000   103.138000         0.214500
std      6.916165     0.071948         0.006916

### 2.2 EU -> EU

In [8]:
eu_df.query("target_hostname == 'gc-t4-6'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean    6.816000     0.651400         6.816000
std     0.141704     0.025195         0.141704

### 2.3 EU -> ASIA

In [9]:
eu_df.query("target_hostname == 'gc-t4-10' or target_hostname == 'gc-t4-11'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count  10.000000    10.000000        10.000000
mean   76.210000   253.097500         0.076210
std     1.494769     0.062351         0.001495

### 2.4 EU -> AUS

In [10]:
eu_df.query("target_hostname == 'gc-t4-20' or target_hostname == 'gc-t4-21'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   10.00000    10.000000        10.000000
mean    69.34000   271.976300         0.069340
std      0.90701     0.304107         0.000907

### 3.1 ASIA -> US

In [11]:
asia_df = convert_to_gbits(pd.read_csv(asia_path))
asia_df.query("target_hostname == 'gc-t4-1' or target_hostname == 'gc-t4-2'").describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count   10.000000    10.000000        10.000000
mean   133.400000   157.078100         0.133400
std      3.062316     0.058605         0.003062

### 3.2 ASIA -> EU

In [12]:
asia_df.query("target_hostname == 'gc-t4-5' or target_hostname == 'gc-t4-6'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   10.00000    10.000000        10.000000
mean    75.97000   253.095100         0.075970
std      0.30203     0.048147         0.000302

### 3.3 ASIA -> ASIA

In [13]:
asia_df.query("target_hostname == 'gc-t4-10' or target_hostname == 'gc-t4-11'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean    6.786000     0.717600         6.786000
std     0.129923     0.068984         0.129923

### 3.4 ASIA -> AUS

In [14]:
asia_df.query("target_hostname == 'gc-t4-20' or target_hostname == 'gc-t4-21'").describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count   10.000000    10.000000         10.00000
mean   163.100000   131.450800          0.16310
std      4.040077     0.423063          0.00404

### 4.1 AUS -> US

In [15]:
aus_df = convert_to_gbits(pd.read_csv(aus_path))
aus_df.query("target_hostname == 'gc-t4-1' or target_hostname == 'gc-t4-2'").describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count   10.000000    10.000000        10.000000
mean   119.300000   175.976400         0.119300
std      3.529243     0.264434         0.003529

### 4.2 AUS -> EU

In [16]:
aus_df.query("target_hostname == 'gc-t4-5' or target_hostname == 'gc-t4-6'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count  10.000000     10.00000         10.00000
mean   69.430000    272.08050          0.06943
std     0.860297      0.13304          0.00086

### 4.3 AUS -> ASIA

In [17]:
aus_df.query("target_hostname == 'gc-t4-10' or target_hostname == 'gc-t4-11'").describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count   10.000000    10.000000        10.000000
mean   162.500000   131.418400         0.162500
std      3.064129     0.407142         0.003064

### 4.4 AUS -> AUS

In [18]:
aus_df.query("target_hostname == 'gc-t4-21'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000      5.00000         5.000000
mean    6.840000      0.63900         6.840000
std     0.099499      0.03389         0.099499

# MULTI-CLOUD Experiments

### 5.1 AWS -> GC

In [19]:
aws_gc_df = convert_to_gbits(pd.read_csv(aws_gc_path))
aws_gc_df.query("target_hostname == 'gc-t4-1'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean    1.808000    13.854000         1.808000
std     0.154499     0.981411         0.154499

### 5.2 AWS -> AWS

In [20]:
aws_gc_df.query("target_hostname == 'aws-t4-1'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count       5.00     5.000000             5.00
mean        4.78     0.151800             4.78
std         0.00     0.008044             0.00

### 5.3 GC -> AWS

In [21]:
gc_aws_df = convert_to_gbits(pd.read_csv(gc_aws_path))
gc_aws_df.query("target_hostname == 'aws-t4-1'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean    1.520000    15.315200         1.520000
std     0.219203     1.079417         0.219203

### 5.4 GC -> GC

In [22]:
gc_aws_df.query("target_hostname == 'gc-t4-1'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean    6.352000     0.713800         6.352000
std     0.782381     0.017541         0.782381

### 5.5 Azure -> GC

In [23]:
azure_gc_df = convert_to_gbits(pd.read_csv(azure_gc_path))
azure_gc_df.query("target_hostname == 'gc-t4-1'").describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count    5.000000     5.000000          5.00000
mean   472.000000    49.806200          0.47200
std     10.049876     0.041758          0.01005

### 5.6 Azure -> Azure

In [24]:
azure_gc_df.query("target_hostname == 'azure-t4-1'").describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean    7.628000     1.557400         7.628000
std     0.008367     0.031501         0.008367

### 5.7 GC -> Azure

In [25]:
gc_azure_df = convert_to_gbits(pd.read_csv(gc_azure_path))
gc_azure_df.query("target_hostname == 'azure-t4-1'").describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count    5.000000     5.000000         5.000000
mean   454.600000    51.220200         0.454600
std      5.128353     0.062966         0.005128

# ENHANCING LOCAL RESOURCES Experiments

In [26]:
rtx8000_eu_gc_path = exp_3_path + "/3-P.0/iperf-profile-rtx8000.csv"
rtx8000_us_gc_path = exp_3_path + "/3-P.1/iperf-profile-rtx8000.csv"
rtx8000_us_lambda_path = exp_3_path + "/3-P.2/iperf-profile-rtx8000.csv"
v100_eu_gc_path = exp_3_path + "/3-R.0/iperf-profile-8xv100.csv"
v100_us_gc_path = exp_3_path + "/3-R.1/iperf-profile-8xv100.csv"
v100_us_lambda_path = exp_3_path + "/3-R.2/iperf-profile-8xv100.csv"

exp_4_path = NETWORK_PATH + "/experiment-set-4"
lambda_a10_path = exp_4_path + "/iperf-profile-lambda-a10.csv"

### RTX8000 -> EU T4

In [27]:
rtx8000_eu_gc_df = convert_to_gbits(pd.read_csv(rtx8000_eu_gc_path))
rtx8000_eu_gc_df.describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count    5.000000     5.000000         5.000000
mean   454.600000    16.731000         0.454600
std    192.415696     0.189727         0.192416

### RTX8000 -> US T4

In [28]:
rtx8000_us_gc_df = convert_to_gbits(pd.read_csv(rtx8000_us_gc_path))
rtx8000_us_gc_df.describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean   63.640000   150.803200         0.063640
std    23.787665     0.284777         0.023788

### RTX8000 -> US A10

In [29]:
rtx8000_us_lambda_df = convert_to_gbits(pd.read_csv(rtx8000_us_lambda_path))
rtx8000_us_lambda_df.describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean   54.580000   159.054000         0.054580
std    14.543624     0.067657         0.014544

### V100 -> EU T4

In [30]:
v100_eu_gc_df = convert_to_gbits(pd.read_csv(v100_eu_gc_path))
v100_eu_gc_df.describe()[:3]

        bandwidth  avg_ping_ms  bandwidth_gbits
count    5.000000     5.000000          5.00000
mean   550.200000    16.187200          0.55020
std    148.380255     0.075794          0.14838

### V100 -> US T4

In [31]:
v100_us_gc_df = convert_to_gbits(pd.read_csv(v100_us_gc_path))
v100_us_gc_df.describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean   77.840000   150.272000         0.077840
std    10.192301     0.102291         0.010192

### V100 -> US A10

In [32]:
v100_us_lambda_df = convert_to_gbits(pd.read_csv(v100_us_lambda_path))
v100_us_lambda_df.describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count   5.000000     5.000000         5.000000
mean   69.900000   158.541800         0.069900
std    12.335315     0.027317         0.012335

### A10 -> A10

In [33]:
lambda_df = convert_to_gbits(pd.read_csv(lambda_a10_path))
lambda_df.describe()[:3]

       bandwidth  avg_ping_ms  bandwidth_gbits
count  35.000000    35.000000        35.000000
mean    3.271143     0.295857         3.271143
std     0.109592     0.036119         0.109592